<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Shiny_Engine_FNF.FridayNightFunkinDataBase.KeybindsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shiny_Engine_FNF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Shiny_Engine_FNF.FridayNightFunkinDataBase.KeybindsSettings>
            <setting name="KeyBindsAccept" serializeAs="String">
                <value>25769803794</value>
            </setting>
            <setting name="KeyBindsPause" serializeAs="String">
                <value>55834574854</value>
            </setting>
            <setting name="KeyBindsLeft" serializeAs="String">
                <value>98784247852</value>
            </setting>
            <setting name="KeyBindsDown" serializeAs="String">
                <value>111669149758</value>
            </setting>
            <setting name="KeyBindsUp" serializeAs="String">
                <value>103079215170</value>
            </setting>
            <setting name="KeyBindsRight" serializeAs="String">
                <value>107374182447</value>
            </setting>
            <setting name="KeyBindsReset" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="KeyBindsUILeft" serializeAs="String">
                <value>98784247852</value>
            </setting>
            <setting name="KeyBindsUIDown" serializeAs="String">
                <value>111669149758</value>
            </setting>
            <setting name="KeyBindsUIUp" serializeAs="String">
                <value>103079215170</value>
            </setting>
            <setting name="KeyBindsUIRight" serializeAs="String">
                <value>107374182447</value>
            </setting>
        </Shiny_Engine_FNF.FridayNightFunkinDataBase.KeybindsSettings>
        <Shiny_Engine_FNF.Properties.Settings>
            <setting name="BotPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Optimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NPSDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccuracyDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Distractions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoteOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SafeFrames" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LowQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Framerate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GhostTapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiddleScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Flashing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScoreZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CamZooms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideHud" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealthBarAlpha" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeBarType" serializeAs="String">
                <value>Time Left</value>
            </setting>
            <setting name="ScrollType" serializeAs="String">
                <value>multiplicative</value>
            </setting>
            <setting name="PracticeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Violence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RatingOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SickWindow" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="GoodWindow" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="BadWindow" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="NoteSplashes" serializeAs="String">
                <value>True</value>
            </setting>
        </Shiny_Engine_FNF.Properties.Settings>
    </userSettings>
</configuration>
